{% extends 'base.html' %} {% block conteudo %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Médico</th>
            <th scope="col">Paciente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>16/05/2019</td>
            <td>Dr. José</td>
            <td>Ewerton</td>
        </tr>
        <tr>
            <td>20/05/2019</td>
            <td>Dr. Pedro</td>
            <td>Rodolfo</td>
        </tr>
        <tr>
            <td>25/05/2019</td>
            <td>Dr. João</td>
            <td>Mike</td>
        </tr>
    </tbody>
</table>
{% endblock %}